<p>The AVeriTeC challenge aims to evaluate the ability of systems to verify real-world claims with evidence from the Web.</p>

<p>The AVeriTeC shared task is part of the 7th FEVER Workshop, co-located with EMNLP2024 and will be held in Miami, Florida, United States in November 2024.</p>

<p>The systems in the shared task have to perform the following:</p>
<ul>
<li> Given a claim and its metadata, the systems must retrieve evidence that supports and/or refutes the claim, either from the Web or from the document collection provided.</li>
<li> Using this evidence, label the claim as Supported, Refuted given the evidence, Not Enough Info (if there isn't sufficient evidence to either support or refute it) or Conflicting Evidence/Cherrypicking (if the claim has both supporting and refuting evidence).</li>
<ul>

<p>To learn more about the task and our baseline implementation, read our paper <a href="https://arxiv.org/pdf/2305.13117.pdf">AVERITEC: A Dataset for Real-world Claim Verification with Evidence from the Web</a> and go to the <a href="https://fever.ai/task.html">shared task webpage</a>. </p>

<h4> Key Dates（TBC） </h4>
<ul>
<li> Challenge Launch: 1 April 2024 </li>
<li> Training Data Release: 1 April 2024 </li>
<li> Testing Begins: 30 June 2024 </li>
<li> Submission Closes: 15 July 2024 </li>
<li> Results Announced: 20 July 2024 </li>
<li> System Descriptions Due for Workshop: 1 August 2024 </li>
<li> Winners Announced: 12/16 November (EMNLP 2024) </li>
</ul>
